<h1>Joplin Web API Status</h1>

<h2>Sync Targets</h2>

<p>These are the folders with which the Joplin applications synchronise:</p>

{{{syncTargetsHtml}}}

<h2>Shares</h2>

<p>These are the notes that are shared publicly:</p>

{{{sharesHtml}}}