{{#cssFiles}}
<!-- <link rel="stylesheet" href="{{url}}"> -->
{{/cssFiles}}

<div class="joplinPage">
	{{{pageHtml}}}
</div>

{{#jsFiles}}
<!-- <script nonce="{{nonce}}" src="{{url}}"></script> -->
{{/jsFiles}}
